@import 'base';

#__next {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  background-image: url("../images/login-background.png");
  background-size: cover;
  justify-content: space-between;
  align-items: center;
}

#logo {
  text-align: center;
  text-justify: center;
  font-size: 15rem;
  color: $bronze;
  margin-left: 12vw;
}

.form-block {
  display: flex;
  width: 31.3125rem;
  padding: 1.25rem;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  flex-shrink: 0; 
  background-color: $dark-brown;
  border-radius: 1.25rem; 
  margin-right: 12vw;
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch; 
}

.form-label {
  color: $bronze;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
  margin: 0.25rem;
}

.form-input {
  height: 1.875rem;
  padding-left: 1rem;
  font-size: 1.25rem;
  color: $white;
  align-self: stretch; 
  border-radius: 1.25rem;
  border: 1px solid $bronze;
  background-color: $dark-brown;
}

.form-input:active {
  border: 1px solid $white;
}

.form-submit {
  display: flex;
  padding: 0.625rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1.25rem;
  background-color: $bronze;
  color: $dark-brown;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

input[type="button"], input[type="submit"] {
  border: none;
}