@import 'base';

.conteudo {
  display: flex;
  width: 80vw;
  height: 68.5vh;
  padding-top: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  flex-shrink: 0;
}

#botao-projetos {
  display: flex;
  width: 18.875rem;
  height: 3rem;
  padding: 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: $dark-brown;
  box-shadow: 0px 2px 8px 0px $light-brown;
  color: $white;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

#botao-projetos:hover {
  outline: 4px solid $bronze;
  color: $bronze;
}

#projetos {
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  max-height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 2.5rem;
  flex: 1 0 0;
  align-self: stretch;
  flex-wrap: wrap;
  overflow-y: scroll;

  a {
    text-decoration: none;  
  }
}

.card-projeto {
  display: flex;
  width: 25rem;
  height: 12.5rem;
  padding: 0.8rem 1.875rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1.25rem;
  background: $dark-brown;

  span {
    color: $white;
    text-align: center;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
  }
}

.card-projeto:hover {
  outline: 4px solid $bronze;

  span {
    color: $bronze;
  }
}

input[type="button"] {
  outline: none;
  border: none;
}
